.syntaxHighlighter {
  overflow: auto !important;
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
  word-break: keep-all !important;
  overflow-wrap: break-word !important;
  width: auto !important;
  border-radius: 10px !important;
}
